.card {
  background-color: var(--secondaryColor);
  color: white;
  padding: 1rem;
  margin: .5rem;
  width: 100%;
  .name_cost_container {
    display: flex;
    .name {
        font-size: 2.5rem;
        margin: unset;
        max-width: 75%;
    }
    .cost_container {
        margin-left: auto;
        display: flex;
        width: fit-content;
      .cost {
        font-weight: 200;
        font-size: 2rem;
        margin: .25rem;
      }
    }
  }
  .description {
    margin: unset;
    margin-top: 2rem;
    max-width: 95%;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 350;
  }
}
