.pizza {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
  h1 {
    margin: unset;
  }
  .receipt {
    padding: 1rem;
    padding-bottom: .5rem;
    padding-top: 0;
    margin-left: auto;
    margin-right: 0.5rem;
    height: fit-content;
    min-height: 39rem;
    width: 14rem;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    h5 {
      margin: 0;
      padding-bottom: .25rem;
      padding-top: .5rem;
      font-size: 1rem;
      border-bottom: solid 1px var(--textColor);
    }
    p {
      margin: 0.05rem;
      font-size: 0.85rem;
    }
    .title {
      color: var(--textColor);
      font-family: Italianno;
      font-size: 2.25rem;
      font-weight: lighter;
      text-align: center;
    }
    .toppings_container {
      .toppings {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }
    }
    .cost {
      background-color: var(--backgroundColor);
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: solid 1px var(--textColor);
      width: 100%;
      padding: .5rem;
      padding-top: 0;
    }
  }

  .clear_all {
    z-index: 2;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    margin-right: 2rem;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border-style: none;
    cursor: pointer;
  }
  .scroll_options {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      width: 90%;
      .section {
        margin-right: auto;
        margin-bottom: 1rem;
      }
      .options {
        width: 75%;
        max-width: 30rem;
        height: fit-content;
        margin-right: auto;
        float: left;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &.null {
          filter: opacity(0.25);
          &:hover {
            cursor: default;
            background-color: unset;
          }
          user-select: none;
        }
        .option {
          border: solid var(--textColor) 1px;
          border-radius: 4px;
          min-width: 4rem;
          max-width: 8.5rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-right: 1rem;
          margin-bottom: 0.5rem;
          cursor: pointer;
          transition: 200ms;
          &:hover {
            background-color: var(--hoverColor);
          }
          &.null {
            filter: opacity(0.25);
            &:hover {
              cursor: default;
              background-color: unset;
            }
            user-select: none;
          }
          &.chosen {
            background-color: var(--selectedColor);
          }
        }
      }
      .toppings {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        h3 {
          margin-bottom: .5rem;
        }
        .topping_category {
          display: flex;
          padding-top: 0.5rem;
          flex-wrap: wrap;
          width: 95%;
        }
      }
    }
  }

  .menu_header {
    h1 {
      margin: 0.5rem;
    }
  }
}

.pizza_toggle {
  background-color: var(--secondaryColor);
  color: white;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: var(--hoverColor);
  }
}
