.card {
  background-color: var(--cardColor);
  color: hsl(0, 0%, 100%);
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
  padding: 0.5rem;
  padding-top: unset;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top_card {
    display: flex;
    justify-content: space-between;
    .name {
      font-size: 1.25rem;
      font-weight: bolder;
    }
    .price {
      font-size: 1.25rem;
      &.multi {
        display: flex;
        flex-direction: column;
        font-size: .75rem;
        font-weight: lighter;
        min-width: 4rem;
        max-width: 4rem;
        .data {
         display: flex; 
         justify-content: space-between;
        }
      }
    }
  }
  .bottom_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .description {
      width: 70%;
      font-style: italic;
      font-weight: lighter;
    }
    .adjust_cart_icon {
      width: 40px;
      height: 40px;
      padding: 0.5rem;
      border-radius: 25px;
    }
  }
}
