.pizza {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon_wrapper {
    background-color: hsl(0, 0%, 100%);
    width: fit-content;
    padding: 0.4rem;
    border-radius: 25px;
    display: flex;
    border: none;
  }
  .pizza_toggle {
    width: 100%;
    margin: 0.5rem;
    margin-top: unset;
  }
  .build_your_own_pizza {
    width: 100%;
    .na {
      display: flex;
      align-items: center;
      p {
        margin-left: 0.25rem;
      }
    }
    .options {
      display: flex;
      overflow-x: scroll;
      padding-right: 3rem;
      // &::after {
      //   content: "";
      //   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--backgroundColorOffset));
      //   display: inline-block;
      //   width: 100px;
      //   height: 50px;
      //   position: absolute;
      //   right: 0;
      //   pointer-events: none;
      // }
      .option {
        width: 5rem;
        min-width: fit-content;
        font-size: 1rem;
        background-color: var(--cartBackgroundColor);
        color: var(--textColor);
        border: var(--textColor) 1px solid;
        &:hover {
          background-color: hsl(213, 80%, 80%, 0.5);
        }
        &.active {
          background-color: hsl(213, 80%, 80%);
          color: hsl(0, 0%, 0%);
        }
        
      }
    }
    .toppings_menu {
      display: flex;
      flex-direction: column;
      border: var(--trimColor) solid 1px;
      height: fit-content;
      // height: 14rem;
      overflow-y: scroll;
      overflow-x: hidden;

      .nav {
        display: flex;
        position: relative;
        z-index: inherit;
        ul {
          justify-content: space-around;
          li {
            min-width: 5rem;
            width: 100%;
            cursor: pointer;
            &.active {
              background-color: var(--cartBackgroundColor);
            }
          }
        }
      }
      .toppings {
        display: flex;
        flex-direction: column;
        .toppings_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.25rem;
          background-color: var(--cartBackgroundColor);
          color: var(--textColor);
          position: sticky;
          top: 0;
          .options_container {
            display: flex;
            justify-content: space-around;
            width: 55%;
            margin-left: auto;
            .option {
              text-align: center;
              width: 33%;
            }
          }
        }
        .topping {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1rem;
          margin-bottom: 1rem;
          text-indent: 0.5rem;
          .button_container {
            width: 55%;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            .topping_button {
              width: 1.5rem;
              height: 1.5rem;
              border: var(--textColor) 1px solid;
              background-color: var(--cartBackgroundColor);
              @media screen and (min-width: 391px) {
                &:hover {
                  background-color: hsl(213, 80%, 80%, 0.5);
                }
              }

              &.active {
                background-color: hsl(213, 80%, 80%);
              }
            }
          }
        }
      }
    }
    .custom_pizza {
      background-color: var(--cartBackgroundColor);
      color: var(--textColor);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0.5rem;
      border-radius: 0px 5px 5px 0px;
      margin-top: 0.5rem;
      .button {
        display: flex;
        align-items: center;
        width: 6rem;
        padding: 0.25rem;
        padding-left: 0.4rem;
        border-radius: 0px 5px 5px 0px;
        justify-content: space-between;
        font-size: .8rem;
        font-weight: bolder;
      }
    }
  }
  .specialty_pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .pizza_cards_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .other_pizza_items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .other_pizza_container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
