* {
  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --primaryColor: hsl(0, 0%, 100%);
  --secondaryColor: hsl(212, 28%, 40%);
  --backgroundColor: hsl(43, 19%, 93%);
  --textColor: black;
  --hoverColor: hsl(212, 40%, 60%);
  --selectedColor: hsl(212, 35%, 65%);
  --backgroundImage: url("../public/light-background.svg");
  --flagColorOne: var(--secondaryColor);
  --flagColorTwo: var(--secondaryColor);
  --flagColorThree: var(--secondaryColor);
}

.dark {
  --primaryColor: hsl(0, 0%, 25%);
  --backgroundColor: hsl(0, 0%, 13%);
  --textColor: white;
  --backgroundImage: url("../public/dark-background.svg");
  --flagColorOne: hsl(108, 70%, 80%);
  --flagColorTwo: hsl(0, 0%, 90%);
  --flagColorThree: hsl(14, 70%, 80%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
  background-image: var(--backgroundImage);
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  color: white;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  .mobile {
    display: flex;
    h2 {
      margin-left: .25rem;
    }
  }
  .toggle {
    display: flex;
    justify-content: space-between;
    width: 6rem;
    border-radius: 25px;
    padding: 0.25rem;
    background-color: var(--backgroundColor);
    transition: 500ms;

    .icon {
      background-color: var(--secondaryColor);
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.25rem;
      transition: 100ms;
      cursor: pointer;
      &.dark {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

.main_content {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  height: 46rem;
  width: 100vw;
  .title_info {
    display: flex;
    flex-direction: column;
    .title {
      color: var(--textColor);
      font-family: Italianno;
      font-size: 120px;
      font-weight: lighter;
      margin: 0;
      padding-left: 3rem;
      vertical-align: top;
    }
    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      outline-style: solid;
      outline-offset: -1px;
      outline-width: 1px;
      margin-right: 3rem;
      padding: 0.5rem;
      width: 30rem;
      font-size: 1.1rem;
      color: var(--secondaryColor);
      .row {
        display: flex;
      }
      .colorOne {
        color: var(--flagColorOne);
        .data {
          margin-left: 0.5rem;
        }
      }
      .colorTwo {
        color: var(--flagColorTwo);
        .data {
          margin-left: 0.5rem;
        }
      }
      .colorThree {
        color: var(--flagColorThree);
        .data {
          margin-top: 0.25rem;
        }
      }
      .section {
        font-weight: lighter;
        font-size: 1.75rem;
        text-decoration: underline;
        margin: 0;
      }
      .type {
        font-weight: 700;
        margin-bottom: 0;
      }
      .data {
        margin-bottom: 0;
        font-weight: 500;
      }
      h2 {
        color: var(--textColor);
        width: 100%;
        text-align: center;
        margin-top: 0;
      }
      background-color: var(--primaryColor);
    }
  }
  .menu {
    box-shadow: 0px 3px 6px 0.5px rgba(0, 0, 0, 0.25);
    width: 60rem;
    min-width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    .nav {
      background-color: var(--secondaryColor);
      color: white;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 25%;
      max-width: 20%;
      h2 {
        width: 100%;
        text-decoration: underline 3px;
        text-align: center;
        font-size: 3rem;
        font-weight: lighter;
        margin: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        flex-grow: 1;
        li {
          list-style: none;
          font-size: 1.5rem;
          height: 4.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          transition: 200ms;
          &:hover,
          &:active {
            background-color: var(--primaryColor);
            color: var(--textColor);
          }
        }
      }
    }
    .selected {
      background-color: var(--primaryColor);
      flex-grow: 1;
      color: var(--textColor);
      padding: 1rem;
      padding-bottom: 0;
      width: 100%;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
.pizza {
  position: relative;

  .fade {
    background-image: linear-gradient(
      to top,
      var(--primaryColor),
      rgba(255, 255, 255, 0)
    );
    z-index: 1;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 120px;
    pointer-events: none;
  }
}

.hide {
  display: none;
  color: rgba(0, 0, 0, 0);
  // background-color: rgba(0, 0, 0, 0);
}

