.pizza {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
  h1 {
    margin: unset;
  }
  .receipt {
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0;
    margin-left: auto;
    margin-right: 0.5rem;
    height: fit-content;
    min-height: 39rem;
    width: 14rem;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    h5 {
      margin: 0;
      padding-bottom: 0.25rem;
      padding-top: 0.5rem;
      font-size: 1rem;
      border-bottom: solid 1px var(--textColor);
    }
    p {
      margin: unset;
    }
    .topping {
      margin: 0.05rem;
      font-size: 0.85rem;
    }
    .title {
      color: var(--textColor);
      font-family: Italianno;
      font-size: 2.25rem;
      font-weight: lighter;
      text-align: center;
    }
    .toppings_container {
      .toppings {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: auto;
        padding-bottom: 2.5rem;
      }
    }
    .receipt_bottom {
      background-color: var(--backgroundColor);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-top: solid 1px var(--textColor);
      .cost {
        width: 100%;
        padding: 0.5rem;
        padding-top: 0;
      }
      .clear {
        width: fit-content;
        right: 0;
        margin: unset;
        padding: 0.5rem;
        padding-top: 0;
        font-size: 1.75rem;
        color: var(--textColor);
        cursor: pointer;
      }
    }
  }

  .scroll_options {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      width: 90%;
      .section {
        margin-right: auto;
        margin-bottom: 1rem;
      }
      .options {
        width: 75%;
        max-width: 30rem;
        height: fit-content;
        margin-right: auto;
        float: left;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &.null {
          filter: opacity(0.25);
          &:hover {
            cursor: default;
            background-color: unset;
          }
          user-select: none;
        }
        .option {
          border: solid var(--textColor) 1px;
          border-radius: 4px;
          min-width: 4rem;
          max-width: 8.5rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-right: 1rem;
          margin-bottom: 0.5rem;
          cursor: pointer;
          transition: 200ms;
          &:hover {
            background-color: var(--hoverColor);
          }
          &.null {
            filter: opacity(0.25);
            &:hover {
              cursor: default;
              background-color: unset;
            }
            user-select: none;
          }
          &.chosen {
            background-color: var(--selectedColor);
          }
        }
      }
      .toppings {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        h3 {
          margin-bottom: 0.5rem;
        }
        .topping_category {
          display: flex;
          padding-top: 0.5rem;
          flex-wrap: wrap;
          width: 95%;
        }
      }
    }
  }

  .menu_header {
    h1 {
      margin: 0.5rem;
    }
  }
}

.pizza_toggle {
  background-color: var(--buttonColor);
  color: white;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: var(--hoverButtonColor);
  }
}

.specialty_pizza {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .specialty_pizza_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--textColor);
    padding-bottom: 1rem;
    .size_cost {
      display: flex;
      justify-content: space-around;
      width: 100%;
      min-width: 100%;
      padding-top: 1rem;
      small {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .pizza_cards_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
   
    .pizza_card {
      background-color: var(--secondaryColor);
      color: white;
      min-width: 18rem;
      max-width: 15rem;
      margin: 1rem;
      padding: 0.25rem;
      padding-top: 1rem;
      border-radius: 0.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h3 {
        margin: unset;
      }
      p {
        width: 90%;
      }
    }
  }
  .other_pizza_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding-top: 2rem;
    h1 {
      font-size: 2rem;
    }
    small {
      font-size: 1.5rem;
      font-weight: 200;
    }
    .other_pizza_container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .other_card {
        background-color: var(--secondaryColor);
        color: white;
        min-width: 18rem;
        max-width: 18rem;
        min-height: 10rem;
        margin: 1rem;
        margin-top: 1.5rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        h3 {
          margin: unset;
        }
        p {
          width: 95%;
          font-size: 1rem;
        }
      }
    }
  }
}
